<system.webServer>
    <security>
      <requestFiltering>
        //Max Uploaded content's filesize.
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
    <handlers>
      //Allow Special characters in path.
      <add name="usuario1" path="/path/*" verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />      
    </handlers>
</system.webServer>

<system.web>
    //Globalization
    //http://timtrott.co.uk/culture-codes/
    <globalization uiCulture="X-Y" culture="X-Y" />
    //Allow Special characters in path.
    <httpRuntime targetFramework="4.6.1" relaxedUrlToFileSystemMapping="true" />
    //For [Authorize]
    <authentication mode="Forms">
      <forms loginUrl="~/" timeout="2880" />
    </authentication>
    //Redirects
    <customErrors mode="On" defaultRedirect="~/Home" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="~/404.html" />
    </customErrors>    
</system.web>
